################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ElderlyCareApp/DAL/Data/Migrations/20250331233702_ChangeRelationship.cs
/ElderlyCareApp/DAL/Data/Migrations/DatabaseContextModelSnapshot.cs
/ElderlyCareApp/DAL/Entities/ElderlyProfile.cs
/ElderlyCareApp/DAL/Entities/User.cs

/ElderlyCareApp/DAL/Migrations
/ElderlyCareApp/ElderlyCareApp/appsettings.json
