################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ElderlyCareApp/DAL/Migrations
/ElderlyCareApp/ElderlyCareApp/appsettings.json
