html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

}
html, body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100%;
    margin: 0;
    padding: 0;
}
.chart-section {
    position: relative;
    width: 100%;
    padding-bottom: 50px; /* Ensure space between chart and footer */
}

/* Chart container */
.chart-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    display: block;
    padding: 10px;
}

/* Ensure chart does not overflow into the footer */
.chart-container canvas {
        display: block;
        width: 100%;
        height: auto !important;
        max-height: 500px; /* Adjust if needed */
}
#notificationContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.notification-card {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    font-size: 14px;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}