@page
@model ElderlyCareApp.Pages.BookingServicePage.CreateModel

@{
    ViewData["Title"] = "Create Booking";
    Layout = "_CustomerLayout";
}

<h1 class="text-center">Create Booking</h1>

<div class="container">
    <div class="card shadow-lg p-4 my-4">
        <h4 class="text-primary">Booking Information</h4>
        <hr />

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Booking.CaregiverId" class="form-label">CareGiver</label>
                <select asp-for="Booking.CaregiverId" class="form-select" asp-items="ViewBag.CaregiverId"></select>
            </div>

            <div class="mb-3">
                <label asp-for="Booking.ServiceId" class="form-label">Service</label>
                <select asp-for="Booking.ServiceId" class ="form-control" asp-items="ViewBag.ServiceId"></select>
                <input type="hidden" asp-for="Booking.ServiceId" value="@Model.Service.Id" />
            </div>

            <div class="mb-3">
                <label asp-for="Booking.ScheduleDate" class="form-label">Schedule Date</label>
                <input asp-for="Booking.ScheduleDate" class="form-control" />
                <span asp-validation-for="Booking.ScheduleDate" class="text-danger"></span>               
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-check-circle"></i>&nbsp; Create
                </button>
                <a asp-page="/Index" class="btn btn-secondary ms-2">
                    <i class="bi bi-arrow-left"></i>&nbsp; Back to HomePage
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
